&concurrent
HIT_InputFile                 = "{{ dirname }}/input_hit.dat"
AD_InputFile                  = "{{ dirname }}/input_ad.dat"
k_bandpass_left               = {{ "%.4f"|format(k_bandpass_left|float)}}d0
k_bandpass_right              = {{ "%.4f"|format(k_bandpass_right|float)}}d0
TI_target                     = {{ "%.4f"|format(TI|float)}}d0
TI_fact                       = {{ "%.4f"|format(TI_fact|float)}}d0
TI_xloc                       = {{ "%.4f"|format(TI_xloc|float)}}d0
freeze_HIT                    = .{{ freeze_hit }}.  ! Freezes HIT fringe targets
/
/
&FILTER_INFO
applyfilters = .FALSE. 
nfilters     = 2
fof_dir      = "/projects/windFlowModeling/PadeOps/HIT_Interact/filter_visualizations/"
tid_FIL_FullField = 75
tid_FIL_Planes = 4
filoutdir    = "/scratch/globus/aghate/filter_visualization/ad_data" 
/
/
